<aside class="sidebar">
  @if (currentUser?.role === 'admin') {
    <h2 class="sidebar-title">Administración</h2>
    <nav class="product-nav" style="margin-bottom: 20px;">
      <button class="category-toggle" style="background-color: #FD7E14; color: white;" (click)="toggleAdminMenu()">
        Opciones Administrador
        <span class="category-arrow" [class.open]="isAdminMenuOpen">
          {{ isAdminMenuOpen ? '▼' : '►' }}
        </span>
      </button>

      @if (isAdminMenuOpen) {
        <ul class="subcategory-list">
          @for (option of adminOptions; track option.name) {
            <li>
              <a
                [href]="option.link"
                [class.active-link]="activeLink === option.link"
                (click)="setActiveLink(option.link); $event.preventDefault()"
              >
                {{ option.name }}
              </a>
            </li>
          }
        </ul>
      }
    </nav>
  }

  <h2 class="sidebar-title">Productos</h2>

  <nav class="product-nav">
    @for (category of categories; track category.name) {
      <button class="category-toggle" (click)="toggleCategory(category)">
        {{ category.name }}
        <span class="category-arrow" [class.open]="category.isOpen">
          {{ category.isOpen ? '▼' : '►' }}
        </span>
      </button>

      @if (category.isOpen) {
        <ul class="subcategory-list">
          @for (sub of category.subcategories; track sub.name) {
            <li>
              <a
                [href]="sub.link"
                [class.active-link]="activeLink === sub.link"
                (click)="setActiveLink(sub.link); $event.preventDefault()"
              >
                {{ sub.name }}
              </a>
            </li>
          }
        </ul>
      }
    }
  </nav>
</aside>
